<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongcha.teslawatch"
    android:versionCode="11"
    android:versionName="2.0">

    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="34"/>

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:label="테슬라워치"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true">

        <uses-library android:name="com.google.android.wearable" android:required="false"/>
        <meta-data android:name="com.google.android.wearable.standalone" android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="테슬라워치"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
